/* ==========================================================================
   Common -- base
   ========================================================================== */

html {
  //@include media-breakpoint-down(lg) {}

  display: flex;
  box-sizing: border-box;
  min-height: 100%;
  font-size: $default-font-size;
}

* {
  min-height: 0;
  min-width: 0;
  font-family: $body-font-family;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative;
  width: 100%;
  min-width: map-get($container-max-widths, xs);
  min-height: 100%;
  color: $body-color;
  font-size: $body-font-size;
  font-smooth: antialiased;
  background-color: $body-bg;
  box-sizing: border-box;

  #root {
    min-height: 100%;
    height: 100%;
  }
}
