div.layout
    div.layout__container
        div.layout__row
            div.layout__col
                div.layout__base
                    div.layout__main
                            block mainPage
                            main
                                block aboutMe
                                block portfolio
                                block goodResources
                                block contacts
include ../themeToggle/themeToggle
include ../navigation/navigation
