mixin buttonPrimary(id, text, additionalClass)
    button.button-primary(data-id=id)
        div.button-primary__text-wrap
            span.button-primary__text=(text)
            span.button-primary__icon
                i(class="fas " + (additionalClass))
