div.layout__container.main.active#main
    div.layout__row
        div.layout__col
            div.main__image-wrap
                div.main__polygon
                div.main__image
                    img(src="/images/hero.jpg")
        div.layout__col
            <header class="main__content" >
                <h1 class="main__content-name"> Привет, я <span>Савин Евгений.
                </span> Фронтенд-разработчик.</h1>
                <p class="main__content-desc"> Приветствую Вас в моём портфолио! В качестве фронтенд-разработчика, я стремлюсь создавать интуитивно понятные и визуально привлекательные веб-сайты, сочетая технические навыки и творческий подход. Здесь вы найдёте примеры моих работ, демонстрирующих владение современными технологиями и подходами, а также способность решать сложные задачи для создания уникальных и эффективных веб-решений.
                </p>
                <button class="button-primary">
                    <span class="btn-text">Скачать резюме</span>
                    <span class="btn-icon"><i class="fas fa-download"></i></span>
                </button>
            </header>

