@import "../../../common/styles/dependencies";

/* ==========================================================================
   Components -- themeToggle
   ========================================================================== */

.theme-toggle {
  $root: &;

  position: fixed;
  cursor: pointer;
  top: 5%;
  right: 3%;
  width: px-to-rem(70px);
  height: px-to-rem(70px);
  border-radius: 50%;
  background-color: var(--color-quinary);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 15px rgba(0,0,0,.3);
  transition: $transition-primary;

  &:active{
    transform: translateY(-3px);
  }

  i {
    font-size: 1.4rem;
    color: var(--color-tertiary);
    pointer-events: none;
  }

}
